.row{
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 18px;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn1{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #078f24;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.btn1:hover{
    background-color: #10471c;
    border: 1px solid;
    color: white;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }