nav{
    background-color: aqua;
}


nav img{
    width: 210px;
    margin-top: 10px;
}

nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding: 5px;
}

li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}