nav{
    background-color: aqua;
}


nav img{
    width: 210px;
    margin-top: 10px;
}

nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding: 5px;
}

li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navButton{
    background-color: #9DC08B;
    margin: .15rem;
    border-color: #9DC08B;
}

.navButton:active{

    background-color: #40513B;
    border-color: #40513B;
    
    }