<!-- <nav>
    <a href="/"><img src="https://i.ibb.co/FHqJ5w0/9903480d7366caf0669965e892498358.png" alt="9903480d7366caf0669965e892498358" /></a>

    <ul>
        <li><a class="btn btn-info" routerLink="/groups" routerLinkActive="active">Groups</a></li>
        <li><a class="btn btn-info"  routerLink="request/create" routerLinkActive="active">Requests</a></li>
    </ul>

</nav> -->
<!-- navbar design -->
<!-- #225279 -->
<nav class="navbar navbar-default navbar-expand-lgss sticky-top" style="background-color: #609966;">
    <!-- Navbar content -->
    <div class="container-fluid topnav">
        <div class="navbar-header">
            <a href="/"><img src="https://i.ibb.co/FHqJ5w0/9903480d7366caf0669965e892498358.png" alt="9903480d7366caf0669965e892498358" /></a>
        </div>
        <ul class="nav navbar-right">
            <li><a class="nav-item btn btn-primary navButton" routerLink="/groups" routerLinkActive="active">Groups</a></li>
            <li><a class="nav-item btn btn-primary navButton"  routerLink="/requests" routerLinkActive="active">Requests</a></li>
        </ul>
    </div>
</nav>
