<!-- heading for request table name and create request button -->
<div class="container htmlBody" style="padding-top: 18px;">
  <div class="row d-flex justify-content-" style="padding-bottom: 5px;">
    <div class="col md-10 nopadding" style="margin: 0 rem;">
      <header>
        <h2>Request Table</h2>
      </header>
    </div>
    <div class="col-1 md col-md-2 d-flex justify-content-end" style="margin-right: 0.5rem;">
      <button (click)="performCreate()" class="crtReqButton btn btn-info"> <fa-icon [icon]="faPlusSquare"></fa-icon>
        Request </button>
      <!-- <button class="crtReqButton btn btn-info">Create Request</button> -->
    </div>
  </div>
</div>

<!-- viewing request information into a table -->
<table>
  <div class="container">
    <!-- fetching table data -->
    <div class="row col-md-12 justify-content-md-center">
      <table class="table table-sm table-striped">
        <!-- table header -->
        <tr>
          <th style="text-align: center;" *ngFor="let column of headers">
            {{column}}
          </th>
        </tr>
        <!-- data -->
        <tr *ngFor="let data of rows">
          <td style="text-align: center;">{{data.requestName}}</td>
          <td style="text-align: center;">{{data.url}}</td>
          <td>
            <pre>{{ stringifyHeader(data.requestHeader)}}</pre>
          </td>
          <td style="text-align: center;">{{data.requestMethod}}</td>
          <td>
            <pre>{{ stringifyParam(data.requestParam) }}</pre>
          </td>
          <!-- <td> {{ stringify(data.requestParam) }}</td> -->
          <td class="text-truncate" title="{{data.requestBodyRaw}}">{{data.requestBodyRaw}}</td>

          <!-- <td >{{data.reqBody}}</td> -->
          <td style="text-align: center;">

            <button (click)="viewResponses(data.requestId)" class="btn btn-outline-success tabButtonPadding"><fa-icon
                [icon]="faeye"></fa-icon>
              View Responses</button>
            <br>
            <button (click)="createRequest(data.requestId)" class="btn btn-outline-success tabButtonPadding"><fa-icon
                [icon]="faPlusSquare"></fa-icon>Create New Response</button>

          </td>
        </tr>
      </table>
    </div>
  </div>

</table>