<br>
<!-- heading for table name and create button -->
<div class="container htmlBody">
  <div class="row justify-content-md-center">
    <div class="col md-10">
      <header>
      <h2>Requests Table</h2>
    </header>
    </div>
    <div class="col-6 md col-md-2 text-right">
      <button (click) = "performCreate()" class="navButton btn btn-info">Create New Group</button>
    </div>
  </div>
</div>
<hr>
<table id="users">
  <tr>
    <th *ngFor ="let column of headers">
      {{column}}
    </th>
  </tr>

  <tr *ngFor="let data of rows">
    <td>{{data.gr}}</td>
    <td>{{data.url}}</td>
    <td>{{data.header}}</td>
    <td>{{data.reqBody}}</td>
    <td>{{data.resBody}}</td>
  </tr>

</table>
