<!-- heading for request table name and create request button -->
<div class="container htmlBody" style="padding-top: 18px;">
  <div class="row d-flex justify-content-" style="padding-bottom: 5px;">
    <div class="col md-10 nopadding" style="margin: 0 rem;">
      <header>
      <h2>Request Table</h2>
    </header>
    </div>
    <div class="col-1 md col-md-2 d-flex justify-content-end" style="margin-right: 0.5rem;">
      <button (click) = "performCreate()" class="crtReqButton btn btn-info"> <fa-icon [icon]="faPlusSquare"></fa-icon> Request </button>
      <!-- <button class="crtReqButton btn btn-info">Create Request</button> -->
    </div>
  </div>
</div>

<!-- viewing request information into a table -->
<table>
<div class="container">
  <!-- fetching table data -->
  <div class="row col-md-12 justify-content-md-center">
    <table class="table table-sm table-striped">
      <!-- table header -->
      <tr>
        <th *ngFor ="let column of headers">
          {{column}}
        </th>
      </tr>
      <!-- data -->
      <tr *ngFor="let data of rows">
        <td>{{data.name}}</td>
        <td>{{data.url}}</td>
        <td>{{data.header}}</td>
        <ng-template #tipContent>Hello, <b>asd</b>!</ng-template>
        <td class="text-truncate" title="{{data.reqBody}}">{{data.reqBody}}</td>
        <td style="text-align: center;">
         
          <button class="btn btn-outline-success tabButtonPadding">View Responses</button>
    
        </td> 
      </tr>
    </table>
  </div>
</div>

</table>

 