<!-- Redesign -->
<section class="Form my-4 mx-5">
    <div class="container">
      <div class="row no-gutters ">
        <div class="col-lg-7 px-5 pt-5 ">
          <h2 class="font-weight-bold">Sign up your account</h2>
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="form-row ">
              <!-- email -->
              <div class="col-lg-7">
                <input type="email" placeholder="Email Address" class="form-control my-3 p-2" formControlName="email">
              </div>
              <!-- password -->
              <div class="col-lg-7">
                <input type="password" placeholder="*******" class="form-control my-3 p-2" formControlName="password">
              </div>
              <!-- first name -->
              <div class="col-lg-7">
                <input type="email" placeholder="First name" class="form-control my-3 p-2" formControlName="firstName">
              </div>
              <!-- middle name -->
              <div class="col-lg-7">
                <input type="password" placeholder="Middle Name" class="form-control my-3 p-2" formControlName="middleName">
              </div>
              <!-- last name -->
              <div class="col-lg-7">
                <input type="email" placeholder="Last Name" class="form-control my-3 p-2" formControlName="lastName">
              </div>
              <!-- mobile number  -->
              <div class="col-lg-7">
                <input type="email" placeholder="Contact Number" class="form-control my-3 p-2" formControlName="number">
              </div>
              <!-- address -->
              <div class="col-lg-7">
                <input type="password" placeholder="Address" class="form-control my-3 p-2" formControlName="address">
              </div>
              <!-- login button -->
              <div class="col-lg-7">
                <button type="button" class="btn1 mt-3 mb-4">Sign Up</button>
              </div>
            </div>
            <p>Already have an account? <a routerLink="/login" style="color: green">Sign In</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>