<!-- Redesign -->
<section class="Form my-4 mx-5">
    <div class="container">
      <div class="row no-gutters ">
        <div class="col-lg-5 nopadding">
          <img src="https://firebasestorage.googleapis.com/v0/b/githubs-30fab.appspot.com/o/logo.png?alt=media&token=1740ce8b-9b10-4cc6-aca0-80f595ff8b42" class="img-fluid" alt="" style="height: 100%; width: 100%;">
        </div>
        <div class="col-lg-7 px-5 pt-5 ">
          <h2 class="font-weight-bold">Sign up your account</h2>
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="form-row ">
              <!-- email -->
              <div class="col-lg-7">
                <input type="email" placeholder="Email Address" class="form-control my-3 p-2" formControlName="email" required>
              </div>
              <!-- password -->
              <div class="col-lg-7">
                <input type="password" placeholder="*******" class="form-control my-3 p-2" formControlName="password" required>
              </div>
              <!-- first name -->
              <div class="col-lg-7">
                <input type="text" placeholder="First name" class="form-control my-3 p-2" formControlName="firstName" required>
              </div>
              <!-- middle name -->
              <div class="col-lg-7">
                <input type="text" placeholder="Middle Name" class="form-control my-3 p-2" formControlName="middleName">
              </div>
              <!-- last name -->
              <div class="col-lg-7">
                <input type="text" placeholder="Last Name" class="form-control my-3 p-2" formControlName="lastName" required>
              </div>
              <!-- mobile number  -->
              <div class="col-lg-7">
                <input type="tel" placeholder="Contact Number" class="form-control my-3 p-2" formControlName="mobile" required>
              </div>
              <!-- address -->
              <div class="col-lg-7">
                <input type="text" placeholder="Address" class="form-control my-3 p-2" formControlName="address">
              </div>
              <!-- login button -->
              <div class="col-lg-7">
                <button class="btn1 mt-3 mb-4">Sign Up</button>
              </div>
            </div>
            <p>Already have an account? <a routerLink="/login" style="color: green">Sign In</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>