

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 p-4 border bg-light mt-5">
    <form [formGroup]= "form" (ngSubmit)="onSubmit()">

      <div class="header">
        <header>
        <h2>New Group Creation</h2> 
      </header>
      </div>
      <div class="form-group">
        <label class="p-1" for="groupName">Group Name</label>
        <input type="text" class="form-control" id="groupName" formControlName="groupName">
      </div>
<br>


      <div class="form-group">
        <button type="submit" class="cButton btn btn-primary">Create Group</button>
      </div>
    </form>
  </div>
</div>

