<!-- Input form for request -->
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 p-4 border bg-light mt-5">
    <form [formGroup]= "form" (ngSubmit)="onSubmit()">

      <div class="header">
        <header>
        <h2>New Request Creation</h2> 
      </header>
      </div>

      <!-- request name -->
      <div class="form-group">
        <label class="p-1" for="requestName">Request Name</label>
        <input type="text" class="form-control" id="requestName" formControlName="requestName">
      </div>

      <!-- url -->
      <div class="form-group">
        <label class="p-1" for="urlString">URL</label>
        <input type="text" class="form-control" id="urlString" formControlName="urlString">
      </div>

      <!-- header -->
      <div class="form-group">
        <label class="p-1" for="header">Header</label>
        <input type="text" class="form-control" id="header" formControlName="header">
      </div>

      <!-- rerquest body -->
      <div class="form-group">
        <label class="p-1" for="requestBody">Request Body</label>
        <input type="text" class="form-control" id="requestBody" formControlName="requestBody">
      </div>

      <!-- response body -->
      <div class="form-group">
        <label class="p-1" for="responseBody">Response Body</label>
        <input type="text" class="form-control" id="responseBody" formControlName="responseBody">
      </div>

      <!-- group id  -->
      <div class="form-group">
        <label class="p-1" for="gropupId">Group ID</label>
        <input type="text" class="form-control" id="gropupId" formControlName="gropupId">
      </div>
<br>

      <!-- submit -->
      <div class="form-group">
        <button type="submit" class="cButton btn btn-primary">Create Group</button>
      </div>
    </form>
  </div>
</div>
