

<ng-template #showThis> 
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col md-10">
        <header>
          <h2>This group has no requests yet !!</h2>
        </header>
      </div>
      <div class="col-6 md col-md-2 text-right">
        <button (click) = "performCreate()" class="cButton btn btn-info">Create New Request</button>
  
      </div>
    </div>
    </div>
</ng-template> 

<div *ngIf="displayElement; else showThis">
<br>
<!-- heading for table name and create button -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col md-10">
      <header>
        <h2>Viewing Group Information :</h2>
      </header>
    </div>
    <div class="col-6 md col-md-2 text-right">
      <button (click) = "performCreate()" class="cButton btn btn-info">Create New Request</button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 p-4 border bg-light mt-5">


      <div>
        <h2>Name of the Group :</h2>
      </div>
      <div class="form-group">
        <h3>{{b}}</h3>
      </div>
      <div>
        <h2>Request lists for this group :</h2>
      </div>


      <div class="container htmlBody">
        <div class="row justify-content-md-center">
          <table class="table table-sm table-striped">
            <tr>
              <th *ngFor = "let column of headers">
                {{column}}
              </th>
            </tr>
            <tr *ngFor= "let data of rows">
              <!-- <td>{{data.groupId}}</td> -->
              <td>{{data.header}}</td>
              <td>{{data.name}}</td>
              <td>{{data.reqBody}}</td>
              <td>{{data.resBody}}</td>
              <td>{{data.url}}</td>

              <!-- <td>
                <button (click)="performEdit(data.groupId)" class="btn btn-warning tabButtonPadding">Edit</button>
                <button (click)="performView(data.groupId,data.groupName)" class="btn btn-outline-success tabButtonPadding">View</button>
                <button (click)="performDelete(data.groupId,data.groupName)" class="btn btn-outline-danger tabButtonPadding">Delete</button>
              </td>  -->
            </tr>

          </table>
        </div>

        <div class="form-group">
          <button type="submit" class="cButton btn btn-primary" (click)="backClicked()">Go Back</button>
        </div>




      </div>
    </div>


   </div>
</div>
</div>


