<!-- heading for table name and create button -->
<div class="container htmlBody" style="padding-top: 18px;">
  <div class="row justify-content-md-center">
    <div class="col md-10">
      <header>
      <h2>Group Information</h2>
    </header>
    </div>
    <div class="col-6 md col-md-2 text-right">
      <button (click) = "performCreate()" class="cButton btn btn-info">Create New Group</button>
    </div>
  </div>
</div>

<!-- viewing group information into a table -->

<div class="container">
  <!-- group name and heading -->
  <div class="row justify-content-md-center">
    <div>
      <h2>Name: {{groupName}}</h2>
      <h2>All requests for {{groupName}}</h2>
      <hr>
    </div>
  </div>

  <!-- table -->
  <table class="table table-sm table-striped">
    <!-- table header -->
    <tr>
      <th *ngFor = "let column of headers">
        {{column}}
      </th>
    </tr>
    <!-- table data -->
    <tr *ngFor= "let data of rows">
      <td>{{data.header}}</td>
      <td>{{data.name}}</td>
      <td>{{data.reqBody}}</td>
      <td>{{data.resBody}}</td>
      <td>{{data.url}}</td>
    </tr>
  </table>
  <!-- end table and go back button -->
  <div class="form-group">
    <button type="submit" class="cButton btn btn-primary" (click)="backClicked()">Go Back</button>
  </div> 
</div>