table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .topSection{
    padding: 10px;
    float: right
    
}

/* padding for button inside the table */
.tabButtonPadding{
  margin-left: 10px;
  margin-right: 10px;
}


