<br>
<!-- heading for table name and create button -->
<div class="container htmlBody">
  <div class="row justify-content-md-center">
    <div class="col md-10">
      <header>
      <h2>Groups Table</h2>
    </header>
    </div>
    <div class="col-6 md col-md-2 text-right">
      <button (click) = "performCreate()" class="navButton btn btn-info">Create New Group</button>
    </div>
  </div>
</div>
<!-- <hr> -->

<!-- table body -->
<div class="container htmlBody">
  <div class="row justify-content-md-center">
    <table class="table table-sm table-striped">
      <tr>
        <th *ngFor = "let column of headers">
          {{column}}
        </th>
      </tr>
      <tr *ngFor= "let data of rows">
        <!-- <td>{{data.groupId}}</td> -->
        <td>{{data.groupName}}</td>
      
        <td>
          <button (click)="performEdit(data.groupId)" class="btn btn-warning tabButtonPadding">Edit</button>
          <button (click)="performView(data.groupId,data.groupName)" class="btn btn-outline-success tabButtonPadding">View</button>
          <button (click)="performDelete(data.groupId,data.groupName)" class="btn btn-outline-danger tabButtonPadding">Delete</button>     
        </td> 
      </tr>
 
    </table>
  </div>
</div>

