/* this CSS file is used to define classes globally */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/addon/hint/show-hint.css';



body {
    background-color: #EDF1D6;
  }

.cButton{
    background-color: rgb(89, 150, 71);
    margin: .15rem;
    border-color: rgb(89, 150, 71);
}
.cButton:active{
    background-color: rgb(25, 90, 52);
    border-color: rgb(25, 90, 52);
    }

.cButton:hover{
    background-color: rgb(25, 90, 52);
    border-color: rgb(25, 90, 52);
}

.fButton{
    background-color: rgb(89, 150, 71);
    border-color: rgb(89, 150, 71);
    color: white;
    width: 60px;
    height: 35px;
    font-size: 14px;
    margin: 0.35rem;
    padding: 0.25rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
.fButton:active{
    background-color: #06814e;
    border-color: #06814e;
    color: rgb(65, 61, 61);
    
    }

.fButton:hover{
    background-color: #06814e;
    border-color: #06814e;
    color: white;
}

/* no padding for div */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

/* header h2 */
header h2 {
    
    font-weight: 600;
    background-image: linear-gradient(to left, #40513B, #609966);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }